.App {
}
.App__header {
    background: rgba(0, 0, 0, 0.56);
    font-family: 'Courier New';
    color: white;
    animation: revealHeader 0.375s 0.5s ease forwards;
    opacity: 0;
}
.App__header__inner {
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
}
.App__title {
    font-size: 2em;
    padding: 20px 0;
}
.App__main {
    opacity: 0;
    animation: revealOpacity 0.375s 1.5s ease forwards;
}
@keyframes revealHeader {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.View {
    position: absolute;
    width: 100%;
    transform: translateX(-100%);
    /* transition: transform 0.2s ease; */
    opacity: 0;
    transition: opacity 0.1s ease;
}
.View__active {
    transform: translateY(0);
    opacity: 1;
}

.NavView {
    background: rgba(0, 0, 0, 0.7);
}
.NavView__inner {
    display: flex;
    align-items: space-between;
    /* justify-content: space-between; */
}
.NavItem {
    display: block;
    padding: 20px 40px;
    color: white;
    text-align: center;
    background: #151515;
}
.NavItem:hover {
    background: #222;
}

.SelectRover {
    display: flex;
    flex-wrap: wrap;
}

.Filters {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Filters__item {
    background: rgba(0, 0, 0, 0.2);
    padding: 1em;
}

.Photos {
    min-height: 800px;
    animation: revealOpacity 200ms 1.5s ease forwards;
}
.Photos__loading {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
}
.Photos__carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Photos__items {
    min-height: 720px;
}

@media (min-width: 600px) {
    .Photos__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .Photos__items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.Photo {
    color: white;
    background-size: cover;
    width: 320px;
    height: 320px;
    margin: 20px;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    cursor: pointer;
    /* transition: opacity 0.2s ease; */
}
.Photo--reveal {
    opacity: 1;
    animation: reveal 0.2s ease forwards;
}
.Photo__details {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.Photo__image {
}
.Photo:hover {
    opacity: 0.9 !important;
}
.Photo:hover .Photo__details {
    background: rgba(0, 0, 0, 0.8);
}

.SelectedPhoto {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.SelectedPhoto img {
    animation: reveal 200ms ease forwards;
    max-height: 90vh;
    /* max-width: 80%; */
}

.credit-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #727272;
}
