.App {
    border: 1px solid #111;
}
.App__header {
    background: rgba(0, 0, 0, 0.56);
    font-family: 'Courier New';
    text-align: center;
    height: 160px;
    font-size: 2em;
    color: white;
    display: flex;
    align-items: center;
}

.Filters {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Filters__item {
    background: rgba(0, 0, 0, 0.2);
    padding: 1em;
}

.Photos {
}
.Photos__carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Photos__items {
    min-height: 720px;
}
@media(min-width: 600px) {
    .Photos__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width: 1200px) {
    .Photos__items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.Photo {
    color: white;
    background-size: cover;
    width: 320px;
    height: 320px;
    margin: 20px;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    cursor: pointer;
    /* transition: opacity 0.2s ease; */
}
@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.Photo--reveal {
    opacity: 1;
    animation: reveal 0.2s ease forwards;
}
.Photo__details {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.Photo__image {
}

.Manifest {
    font-size: 18px;
}

.SelectedPhoto {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.SelectedPhoto > img {
    animation: reveal 200ms ease forwards;
}
