.App {
    border: 1px solid #111;
    min-height: 100vh;
}

.App-header {
    background-color: black;
    font-size: 2em;
    color: white;
    padding: 1em;
}

.App-link {
    color: #61dafb;
}

img {
    width: 300px;
}

.Photos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Photos__items {
    display: flex;
}
.Photo {
    background: black;
    color: white;
}
.Photo__image {
    cursor: pointer;
}

.Manifest {
}
