html {
    background: url(bg.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    color: #f0f0f0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
body {
    margin: 0;
    background: rgba(0, 0, 0, 0.8)
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background: black;
    color: white;
    border: 1px solid #111;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.2em;
}

[hidden] {
    display: none !important;
}

.credit-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #727272;
}
