html {
    background: url(https://mars.nasa.gov/mars2020-raw-images/pub/ods/surface/sol/00015/ids/edr/browse/ncam/NLE_0015_0668277843_723ECM_N0030376NCAM03000_03_0LLJ01_1200.jpg);
    /* background: url(https://mars.nasa.gov/msl-raw-images/msss/02641/mcam/2641ML0138310241001179C00_DXXX.jpg); */
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    color: #f0f0f0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    margin: 0;
}

#body-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
}

[hidden] {
    display: none !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

@keyframes revealOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
